<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User/Login page</title>
</head>
<body>

        <form th:action="@{/user/loginUser}" th:object="${userDetails}" method="POST">
            <input value="" th:field="${userDetails.name}"><br>
            <input value="" th:field="${userDetails.email}"><br>
            <input value="" th:field="${userDetails.password}"><br>
        </form>

</body>
</html>




<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="title"><span>Login Form</span></div>
        <form th:action="@{/login}" th:object="${loginForm}" method="post">
            <p th:if="${error}" class="error">UserName & Password Incorrect</p>
            <div class="row">

                <input type="text" name="username">
            </div>
            <div class="row">

                <input type="password" name="password">
            </div>
            <div class="row button">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</div>
</body>
</html>